
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="versushipsterApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.article.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.article.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="versushipsterApp.article.slug" for="field_slug">Slug</label>
            <input type="text" class="form-control" name="slug" id="field_slug"
                    ng-model="vm.article.slug"
                    required />
            <div ng-show="editForm.slug.$invalid">
                <p class="help-block"
                    ng-show="editForm.slug.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="versushipsterApp.article.title" for="field_title">Title</label>
            <select class="form-control" id="field_title" name="title" ng-model="vm.article.title" ng-options="translationKey as translationKey.key for translationKey in vm.titles | orderBy:'id' track by translationKey.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="versushipsterApp.article.content" for="field_content">Content</label>
            <select class="form-control" id="field_content" name="content" ng-model="vm.article.content" ng-options="translationKey as translationKey.key for translationKey in vm.contents | orderBy:'id' track by translationKey.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
