<div>
    <h2 translate="versushipsterApp.program.home.title">Programs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="program.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="versushipsterApp.program.home.createLabel">
                        Create new Program
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="versushipsterApp.program.active">Active</span></th>
                    <th><span translate="versushipsterApp.program.composition">Composition</span></th>
                    <th><span translate="versushipsterApp.program.name">Name</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="program in vm.programs track by program.id">
                    <td><a ui-sref="program-detail({id:program.id})">{{program.id}}</a></td>
                    <td>{{program.active}}</td>
                    <td>
                        <span ng-repeat="composition in program.compositions">
                            <a class="form-control-static" ui-sref="composition-detail({id: {{composition.id}}})">{{composition.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="translation-key-detail({id:program.name.id})">{{program.name.key}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="program-detail({id:program.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="program.edit({id:program.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="program.delete({id:program.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
