
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProgramLabel" translate="versushipsterApp.program.home.createOrEditLabel">Create or edit a Program</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.program.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.program.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="versushipsterApp.program.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.program.active"
                     />
        </div>

        <div class="form-group">
            <label translate="versushipsterApp.program.composition" for="field_composition">Composition</label>
            <select class="form-control" id="field_composition" multiple name="composition" ng-model="vm.program.compositions" ng-options="composition as composition.id for composition in vm.compositions track by composition.id"></select>
        </div>
        <div class="form-group">
            <label translate="versushipsterApp.program.name" for="field_name">Name</label>
            <select class="form-control" id="field_name" name="name" ng-model="vm.program.name" ng-options="translationKey as translationKey.key for translationKey in vm.names | orderBy:'id' track by translationKey.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
